<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
     PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <servlet>
    <servlet-name>soap_servlet</servlet-name>
    <servlet-class>org.jibx.ws.http.servlet.WsServlet</servlet-class>
    <init-param>
      <param-name>air-service</param-name>
      <param-value>air-service.xml</param-value>
    </init-param>
  </servlet>
  
  <servlet>
    <servlet-name>pox_servlet</servlet-name>
    <servlet-class>org.jibx.ws.http.servlet.WsServlet</servlet-class>
    <init-param>
      <param-name>air-service</param-name>
      <param-value>air-service-pox.xml</param-value>
    </init-param>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>soap_servlet</servlet-name>
    <url-pattern>/soap/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>pox_servlet</servlet-name>
    <url-pattern>/pox/*</url-pattern>
  </servlet-mapping>
  
</web-app>
